*~
*.old
*.gz
*.gz.uu
*.html
*.info
*.log
*.1
.*.swp
*.tmp
*.tex
/Makefile
README
autom4te.cache
config.cache
config.status
configure
dddrun*
gdbrun*
internals.txt
verilator.pdf
verilator.txt
verilator_bin*
