*~
*.old
*.gz
*.gz.uu
*.html
*.info
*.log
*.1
.*.swp
*.tmp
*.tex
*.pdf
/Makefile
README
autom4te.cache
config.cache
config.status
configure
dddrun*
doxygen-doc
gdbrun*
internals.txt
verilator.txt
verilator_bin*
