---
# DESCRIPTION: Github actions config
# SPDX-License-Identifier: LGPL-3.0-only OR Artistic-2.0

name: reusable-lint-py

on:
  workflow_call:

env:
  CI_OS_NAME: linux
  CI_BUILD_STAGE_NAME: build
  CI_RUNS_ON: ubuntu-22.04
  CCACHE_COMPRESS: 1
  CCACHE_DIR: ${{ github.workspace }}/.ccache
  CCACHE_LIMIT_MULTIPLE: 0.95

defaults:
  run:
    shell: bash
    working-directory: repo

jobs:

  lint-py:
    runs-on: ubuntu-22.04
    name: Sub-lint | Python
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          path: repo

      - name: Install packages for build
        run: ./ci/ci-install.bash

      - name: Configure
        run: |
          autoconf
          ./configure --enable-longtests --enable-ccwarn

      - name: Install python dependencies
        run: |
          sudo apt install python3-clang
          make venv

      - name: Lint
        run: |-
          source .venv/bin/activate
          make -k lint-py
